@font-face {
    font-family: "PTSansRegular";
    src: url('../fonts/pt-sans/PTS55F.ttf');
}

@font-face {
    font-family: "PTSansBold";
    src: url('../fonts/pt-sans/PTS75F.ttf');
}

body {
    background: #f1f1f1;
    font-size: 0;
    margin: 0;
}

header {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background: #ffffff;
    position: relative;
}

.parent {
    clear: both;
    *zoom: 1;
}

.parent:before,
.parent:after {
    content: "";
    display: table;
}

.parent:after {
    clear: both;
}


.logo {
    width: 249px;
    height: 135px;
    background: url('../images/toplogo_500_auto.png') no-repeat center;
    position: absolute;
    left: 80px;
    top: 0;
}

.contacts {
    width: 250px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 40px;
}

.contacts ul {
    padding-left: 0;
}

.contacts ul li {
    list-style-type: none;
    font-family: PTSansRegular, sans-serif;
    font-size: 16px;
    color: #1D2C4E;
    text-align: left;
    margin-top: 10px;
}

.contacts ul li img {
    float: left;
    width: 20px;
    margin-right: 10px;
}

.navigation-bar {
    top: 150px;
    position: absolute;
    height: 40px;
    background: #1D2C4E;
    width: 100%;
    text-align: right;
    /*border: 1px solid rgba(0, 0, 0, 0);*/
    -webkit-box-shadow: 0 13px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 13px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 0 13px 15px -9px rgba(0,0,0,0.75);
    z-index: 1002;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar-carcass {
    position: relative;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}

.nav-menu {
    padding-left: 0;
    height: 100%;
}

.nav-menu > li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    height: 100%;
    line-height: 39px;
    background: rgba(0, 0, 0, 0);
    position: relative;

    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.nav-menu > li > a {
    font-family: PTSansRegular, sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    text-decoration: none;

    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.nav-menu > li:hover {
    background: #ffffff;

    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.nav-menu > li:hover > a {
    color: #1D2C4E;

    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.nav-menu > li.active {
    background: #ffffff;
}

.nav-menu > li.active > a {
    color: #1D2C4E;
}

@-webkit-keyframes DropDownMenu {
    from {top: 50px;}
    to {top: 40px;}
}

@keyframes DropDownMenu {
    from {top: 50px;}
    to {top: 40px;}
}

.sub-menu {
    display: none;
    width: 100%;
    height: auto;
    background: #192644;
    position: absolute;
    padding: 0;
    top: 40px;
    text-align: center;

    animation-name: DropDownMenu;
    animation-duration: 0.2s; /* or: Xms */
    animation-iteration-count: 1;
    animation-direction: alternate; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
}

.nav-menu > li:hover > .sub-menu {
    display: block;
}

.nav-menu > li > .sub-menu > li {
    list-style-type: none;
    text-align: center;
    margin-left: 0;
    margin-bottom: 5px;
    line-height: 15px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.nav-menu > li > .sub-menu > li > a {
    font-family: PTSansRegular, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-menu > li > .sub-menu > li:hover {
    background: #ffffff;

    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.nav-menu > li > .sub-menu > li:hover > a {
    color: #1D2C4E;
}

.nav-bar-placeholder {
    position: relative;
    width: 100%;
    height: 40px;
}

main {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 50px;
}

.page-title {
    text-align: center;
    font-family: PTSansBold, sans-serif;
    font-size: 24px;
    color: #192644;
    margin-top: 50px;
}

.delimiter-left {
    width: 50px;
    height: 1px;
    background: #192644;
    position: absolute;
    left: 40%;
    top: 66px;
}

.delimiter-right {
    width: 50px;
    height: 1px;
    background: #192644;
    position: absolute;
    left: 56%;
    top: 66px;
}

.content {
    width: 100%;
    margin: 20px 0 0 0;
}

.content-carcass {
    padding-left: 30px;
    padding-right: 30px;
}

p {
    font-family: PTSansRegular, sans-serif;
    font-size: 16px;
    color: #192644;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

p.checked {
    padding-left: 60px;
    padding-right: 60px;
}

footer {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    background: #1D2C4E;
}

.footer-carcass {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0);
}

.footer {
    font-family: PTSansRegular, sans-serif;
    font-size: 34px;
    color: #f1f1f1;
    margin: 30px auto;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 20px;
}

.footer-grid {
    position: relative;
    margin-left: 20%;
    margin-top: 60px;
}

.footer-grid > ul {
    padding-left: 0;
}

.footer-grid > ul > li {
    list-style-type: none;
    display: inline-block;
    width: 138px;
    height: 140px;
    text-align: center;
    margin-right: 150px;
}

.footer-grid > ul > li > .image > img {
    width: 75px;
}

.footer-grid > ul > li > .content {
    font-family: PTSansRegular, sans-serif;
    font-size: 16px;
    color: #6C717C;
}

.copy-right {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 10px;
    font-family: PTSansRegular, sans-serif;
    font-size: 12px;
    color: #6C717C;
}


.h2 {
    font-family: PTSansBold, sans-serif;
    font-size: 20px;
    color: #000000;
    border-bottom: 1px solid rgba(77, 77, 77, 0.5);
    padding-bottom: 10px;
}

h2 {
    font-family: PTSansBold, sans-serif;
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 20px;
}

.some-list {
    padding-left: 200px;
}

.some-list li {
    font-family: PTSansRegular, sans-serif;
    font-size: 16px;
    color: #1D2C4E;
    margin-bottom: 10px;
}

.some-list-2 {
    padding-left: 280px;
}

.some-list-2 li {
    font-family: PTSansRegular, sans-serif;
    font-size: 16px;
    color: #1D2C4E;
    margin-bottom: 10px;
}

ul li {
    font-family: PTSansRegular, sans-serif;
    font-size: 16px;
    color: #1D2C4E;
    margin-bottom: 10px;
}

.left-side {
    float: left;
}

.p {
    font-family: PTSansRegular, sans-serif;
    font-size: 16px;
    color: #192644;
    text-align: justify;
    border-bottom: 1px solid rgba(77, 77, 77, 0.5);
    margin-bottom: 10px;
}